@font-face {
    font-family: 'fira_mono';
    src: url('/static/fonts/fira_mono.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'comforter';
    src: url('/static/fonts/comforter.ttf') format('truetype');
}

* {
    font-family: 'fira_mono';
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0rem;
}

.footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
}