{% extends 'main.html' %}
{% block content %}
  {% load static %}
  {% load cache %}
  {% cache 86400 projects %}
  <link rel="stylesheet" href="{% static 'css/projects/projects.css' %}" />
  <section>
    <div class="container">
      <h3 class="text-center">PROJECTS</h3>
      <hr />
      <div class="row">
        {% for project in projects %}
          <div class="col-14 col-md-4 mt-3">
            <a class="link-dark text-decoration-none" href="{{ project.src }}">
              <div class="card my-card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{ project.name }}</h5>
                  <p class="card-text fw-bold">{{ project.info }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endcache %}
{% endblock content %}
