{% extends 'main.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/projects/weather.css' %}">
<div class="container">
    <div style="padding-top: 5em;" class="heading text-center ">
        <h1 id="header" class="text-white head">Weather App</h1>
    </div>
    <div class="row">
        <div class="col-md-6 text-center pt-5">
              <div>
                  <div class="input">
                      <input id="city_name" required autocomplete='off' class="my-inp input-group" type="text" name="city" placeholder="Enter the city" />
                  </div>
                  <div class="submit pt-4 pb-4">
                      <input id="submit_btn" type="button" value="Submit"
                          class="btn-lg btn-dark my-but" />
                  </div>
              </div>
        </div>
        <div  id="bar" class="col-md-6 text-white">
            <div class="main">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div id="context" class="p-3">
                            <h4 id="location"></h4>
                            <h4 id="time"></h4>
                            <h4 id="status"></h4>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div id="image_holder" class="p-2">
                            {% comment %} <img id= src="{{src}}" alt="weather_image" srcset="" /> {% endcomment %}
                        </div>
                        <div id="temperature" class="p-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.35/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="{% static 'js/weather.js' %}"></script>
{% endblock content %}
