{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container" style="
    text-align: center;
    padding-top: 10rem;">
    <img src="{% static 'images/projects/yt.png' %}" height="150" alt="YouTube" />
    <form action="" method="POST">
      {% csrf_token %}
      <input class="input-group border-dark border-2 rounded-2 p-2 mt-2 mb-3" name="yt_link" id="yt_link" type="url" placeholder="Enter the url" required>
      <input class="btn btn-dark p-2 m-2 w-25" type="submit" value="GET" id="yt_get">
    </form>
</div>
{% comment %} <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/yt.js' %}"></script> {% endcomment %}
{% endblock content %}