.main-div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-div{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    border-radius: 4px;
}
.form__title{
    margin-bottom: 0;
    text-align: center;
}
.form__input-group{
    margin-bottom: 1rem;
}
.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #0000001a;
    outline-color: transparent;
    background: #7575752c;
}
.form__input:focus{
    background: #ffffff;
}
.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline-color: transparent;
    cursor: pointer;
    background: #2d3436;
}
.form__button:active{
    transform: scale(0.98);
    color: white;
}
.padding{
    padding-bottom: 10px;
}
