<nav
  class="navbar fixed-top navbar-expand-lg {% if dark == True %}navbar-dark bg-dark {% else %} navbar-light bg-light{% endif %}">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page == 'projects' %}active{% endif %}" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page == 'gallery' %}active{% endif %}" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {% if request.user.is_authenticated %} {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login-page' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>