{% extends 'main.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/main/404.css' %}" />
<div style="
    text-align: center;
    padding-top: 10rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  ">
  <img src="{% static 'images/icons/offline.png' %}" height="100" alt="404" />
  <h1 class='p-2'>YOU ARE OFFLINE</h1>
  <a href="." class="btn btn-dark w-25">RETRY</a>
</div>
{% endblock content %}
