{% extends 'main.html' %}
{% block content %}
  {% load static %}
  {% load cache %}
  {% cache 86400 index %}
  <link rel="stylesheet" href="{% static 'css/base/index.css' %}">
  <div class="container">
    <section id="homeSection">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <p id="jb" class="text-center">JB</p>
        </div>
        <div class="col-12 col-md-6">
          <h1>JERIT BAIJU</h1>
          <p class="ps-3 ps-md-4 fw-bold">
            {% for bio in bio %}
              &gt {{ bio }}
              <br />
            {% endfor %}
          </p>
          <div>
            <div class="row m-2 pt-3 pb-3 text-center">
              <div class="col-4">
                <a href="{% url 'gallery' %}"
                   class="btn btn-outline-dark rounded-pill w-100 fw-bold">Gallery</a>
              </div>
              <div class="col-4">
                <a href="{% url 'projects' %}"
                   class="btn btn-outline-dark rounded-pill w-100 fw-bold">Projects</a>
              </div>
              <div class="col-4">
                <a href="{% url 'stats' %}"
                   class="btn btn-outline-dark rounded-pill w-100 fw-bold">Statics</a>
              </div>
            </div>
          </div>
          <div class="quoteDiv align-items-center">
            <div class="quote">
              <p class="text-end p-1 fw-bold">"{{ quote.quote }}"</p>
              {% if quote.author != '' %}
                <div class="row">
                  <div class="col-6 col-md-6"></div>
                  <div class="col-6 col-md-6 mt-1">
                    <figcaption class="blockquote-footer text-end p-1 fw-bold">{{ quote.author }}</figcaption>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <hr />
    </section>
    <section id="aboutMe" class="p-1">
      <div class="p-3">
        <h4 class="text-center text-uppercase">About Me</h4>
        <p class="fw-bold">
          {% include 'src/intro.html' %}
          You can read more <a class="link-dark" href="{% url 'about' %}">about me</a> or check out my <a class="link-dark" href="{{ resume.file.url }}" download="JERIT BAIJU - DJANGO.pdf">resume</a>.
        </p>
      </div>
      <hr />
    </section>
    <section id="serviceSection" class="p-1">
      <div class="p-3">
        <h4 class="text-center text-uppercase">Skills</h4>
        <div class="services">
          <div class="row">
            <p>
              {% for skill in skills %}
                <div class="col-md-3 fw-bold">
                  &gt {{ skill }}
                  <br />
                </div>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>
    <section id="educationSection" class="p-1">
      <div class="p-3">
        <h4 class="text-center  text-uppercase">Education</h4>
        <div class="education">
          <p class="fw-bold">
            {% for edu in education %}
              &gt
              {% if edu.url %}
                <a class="link-dark" href="{{ edu.url }}">{{ edu.name }}</a>
              {% else %}
                {{ edu.name }}
              {% endif %}
              <br>
            {% endfor %}
          </p>
        </div>
      </div>
      <hr />
    </section>
  </div>
  {% include "footer.html" %}
{% endcache %}
{% endblock content %}
{% block scripts %}
  <script src="{% static 'js/pwa-handler.js' %}"></script>
{% endblock scripts %}
